/* Normal elements */
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
body {
	background: #fff url('img/bg.png') fixed no-repeat;
    background-size: cover;
	color: #000;
	font: 16px sans-serif;
}
a {
    color: #0babf5;
    text-decoration: none;
    font-weight: bold;
}

/* Classes */
.container {
	margin: 0 auto;
	max-width: 1250px;
}
.content {
	background: #fff;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 15px;
	width: 100%;
}