/* layout overrides */

/* general */
body, html, .container {height: 100%;}
body {background: #000 url('layout/bg.png') fixed repeat;}
a {color: #e98db5;}
h1, h2 {color: #e85c9b;}
h1 {border-color: #e98db5;}

/* class */
.section {border-color: #e98db5;}

/* id */