/**
* ALL IN ONE PAGE BY HTTP://BITTER-SMILE.TUMBLR.COM/ / HTTP://VP.GOD.JP/
* YOU MAY EDIT AND GO WILD WITH YOUR OWN SKILL, BUT RESPECT THE STANDARD RULES
* DO NOT DELETE CREDIT / MOVE THEM TO SECONDARY PAGE
* Have fun :3
* http://pinkmagenta.tumblr.com/pg/01
**/

@font-face { font-family: "Power Red and Green"; src: url('https://dl.dropboxusercontent.com/s/nfqm3m1xknxbmu1/pkmnfl.ttf'); }
@font-face { font-family: "Bit"; src: url('https://dl.dropboxusercontent.com/s/i9ue8z8b2s5pe5j/BitxMap%20Font%20tfb.ttf'); }
/*@font-face { font-family: "Terminus"; src: url('https://dl.dropboxusercontent.com/s/a7j2g7loiam9you/TerminusTTFWindows-4.40.1.ttf'); }
@font-face { font-family: "haxrcorpttf"; src: url('https://dl.dropboxusercontent.com/s/q41u2ach2ndlocl/haxrcorpttf_0.ttf'); }*/

/*----- Tabs -----*/

.tabs {
    width:100%;
    margin-left:0px;
    display:inline-block;
    }

/*----- Tab Links -----*/

/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
    }

.tab-links li {
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    border: 1px solid white;
    list-style:none;
    display: block;
    list-style-type: none;
    font-family: Arial;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: right;
    margin-bottom: 5px;
    }

.tab-links a {
    padding:10px;
    display:inline-block;
    color: white;
    transition:all linear 0.15s;
    }

.tab-links a:hover {
    text-decoration:none;
    color: white;
    padding-right: 20px;
    }

li.active a, li.active a:hover {
    background:transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    color: black;
    }

/*----- Content of Tabs -----*/

.tab-content {
    padding:15px;
    border-radius:3px;
    }

.tab {
    display:none;
    }

.tab.active {
    display:block;
    }

/*Body*/

html, body {
    height:100%; 
    margin:0; 
    padding:0; 
    width:100%;
    }

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #000;
    background-image: url(''); /* Background image */
    word-wrap: break-word;
    font-size:10px;
    line-height:100%;
    }

#container {
    background: white;
    background-image: url('http://i.imgur.com/VeOiimz.jpg'); /* Container background*/
    background-size: cover;
    position: absolute;
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 80px;
    border: 1px solid #eaeaea;
    }

#posts {
    position: absolute;
    background-color: rgba(255,255,255,0.9); /* Transparancy. To change to opacity, 
    simply change the last number, the bigger the number is, more solid the background is
    */
    margin-left: 500px;
    font-family: Arial; /* Font type.  */
    font-size: 11px;
    padding: 5px;
    width: 450px;
    margin-top: 120px;
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid white;
    z-index: 2;
    }

#postsmeong {
    position: absolute;
    margin-left: 500px;
    font-family: bit; /* Font type. */
    font-size: 10px;
    padding: 5px;
    width: 450px;
    margin-top: 120px;
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
    z-index: 2;
    }

article {
    margin: auto;
    padding: 5px;
    width:400px;
    margin-bottom: 5px;
    font-weight:400;
    }

/*Properties*/

img {
    max-width: 100%;
    border:none;
    height: auto;
    }

h1 {
    font-size: 20px;
    font-family: bit; /* Font type  */
    }

ul {
    list-style-type: square;
    }

a {
    color: #7e7e7e;
    text-decoration: none;
    cursor:help;
    -webkit-transition:0.6s;
    -moz-transition:0.6s;
    transition:0.6s;
    }

a:hover {
    color: #888888;
    }

/* Tab links */

.menu {
    position: absolute;
    margin-top: 580px;
    width: 1000px;
    }

.menu ul {
    display: inline-block;
    list-style-type: none;
    font-family: Arial;
    letter-spacing: 1px;
    font-size: 10px;
    }

.menu li {
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid white;
    }

.menu a {
    color: white;
    }   

.menu a:hover {
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    }

/* Left top Title */

.title {
    color: white;
    /*border-bottom: 4px solid #4b7d84;*/
    line-height:90%;
    position: absolute;
    margin-top: 35px;
    font-family: 'Power Red and Green', monospace;
    margin-left: 10px;
    font-size: 42px;
    z-index: 2;
    cursor: help;
    letter-spacing: 10px;
    width: 500px;
    }

/* Biodata */

.biodata {
    line-height: 120%;
    }

.biodata p {
    margin-bottom: 5px;
    border-bottom: 1px solid #7e7e7e;
    }

.biodata span {
    color: #585858;
    text-transform: uppercase;
    font-family: bit;
    font-size: 10px;
    letter-spacing: 1px;
    }

.biodatatitle {
    font-size: 30px;
    margin-bottom: 20px;
    }

.biodataquote {
    margin-top:10px;
    margin-bottom: 5px;
    line-height: 100%;
    font-size: 24px;
    color:#585858;
    padding: 10px;
    font-family: 'Power Red and Green', monospace;
    font-style: bold;
    text-align: center;
    }

/*Menu Links*/

.nav {
    position: absolute;
    margin-top: 120px;
    margin-left: 600px;
    width: 500px;
    z-index: -99;
    }

/*The Tag*/

#tagbox {
    display: block;
    text-align: left;
    margin: 15px;
    }

.tagheader {
    color: #585858;
    font-family: 'Power Red and Green', monospace;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 5px;
    }

.tagcontent {
    padding: 5px;
    }

.tagcontent a {
    display: inline-block;
    color: #888888;
    border-bottom: 1px dotted #4b7d84;
    margin: 5px;
    }

.tagcontent a:hover {
    color: #4b7d84;
    }