body, html {margin: 0; padding: 0;} 
body {
	background: #000 url('index/bg.png');
	color: #fff;
	font: 16px 'MS Gothic', monospace;
}
a {
	color: #008000;
	text-decoration: none;
}
img {max-width: 100%;}
h1 {
	border: #008000 4px double;
	color: #008000;
	font-size: 22px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}
h2 {
	font-size: 18px;
}
hr {
	border: 0;
	border-bottom: 1px #fff solid;
	height: 1px;
}
li {list-style-type: none;}
li:before {
	content: '\271E';
	margin-left: -20px;
	margin-right: 5px;
}
ul {margin: 0; padding: 0 0 0 15%;}
.new::after {content:url('index/new.gif');}
.container {
	box-sizing: border-box;
	display: grid;
	grid-column-gap: 10px;
	grid-template-areas: "left main right";
	grid-template-columns: 200px auto 200px;
	justify-items: center;
	height: 100%;
	margin: 0 auto;
	max-height: 800px;
	max-width: 1040px;
	padding: 10px;
	width: 100%;
}
.content {
	padding: 10px;
}
.section, iframe {
	background: #000;
	box-sizing: border-box;
	border: #008000 4px double;
	height: 100%;
	overflow-y: auto;
	width: 100%;
}
.side {font: 14px 'MS Gothic', monospace;}
#main {
	grid-area: main;
	max-width: 600px;
	min-width: 300px;
}
#left {grid-area: left;}
#right {grid-area: right;}
