/** imports **/
@import url('../fonts/callingcode/font.css');
@import url('../shared.css');

/** common elements **/
body, html {margin: 0; padding: 0;} 
body {
	background: #000 url('');
	color: #fff;
	font: 16px 'Calling Code', 'MS Gothic', sans-serif;
}
a {
	color: #ff9900;
	text-decoration: none;
}
b {color: #ffce84;}
img {
	margin: 0.5em 0;
	max-width: 100%;
}
p img {margin: 0;}
h1 {
	border: #ff9900 4px double;
    border-radius: 10px;
	color: #ff9900;
	font-size: 22px;
	margin: 0;
	padding: 8px 0;
	text-align: center;
}
h2 {font-size: 18px;}
li {list-style-type: none;}
li:before {
	content: '\271E';
	margin-left: -20px;
	margin-right: 5px;
}
ul {margin: 0; padding: 0 0 0 2em;}

/** class **/
.container {
	box-sizing: border-box;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-areas: "left main";
	grid-template-columns: 200px auto;
	justify-items: center;
	margin: 0 auto;
	height: 750px;
	max-width: 1040px;
	padding: 10px;
	width: 100%;
}
.content {padding: 10px;}
.section {
	background: #000;
	box-sizing: border-box;
    border: #ff9900 4px double;
    border-radius: 10px;
    height: 100%;
	overflow-y: auto;
	width: 100%;
}
.side {font: 14px 'Calling Code', 'MS Gothic', monospace;}

/** id **/
#main {
	grid-area: main;
	min-width: 300px;
}
#left {grid-area: left;}

/** ant screens **/
@media (max-width: 600px) {
	.container {
		grid-template-areas: "left" "main";
		grid-template-columns: 100%;
		height: auto;
		max-height: none;
		max-width: 100%;
	}
	#main {
		width: 100%;
		max-width: 100%;
		min-width: auto;
	}
}