/** imports **/
@import url('../fonts/callingcode/font.css');

/** common elements **/
body, html {margin: 0; padding: 0;} 
body {
	background: #000 url('index/bg.png');
	color: #fff;
	font: 16px 'Calling Code', 'MS Gothic', sans-serif;
}
a {
	color: #008000;
	text-decoration: none;
}
img {
	margin: 0.5em 0;
	max-width: 100%;
}
p img {margin: 0;}
h1 {
	border: #008000 4px double;
	color: #008000;
	font-size: 22px;
	margin: 0;
	padding: 8px 0;
	text-align: center;
}
h2 {
	font-size: 18px;
}
hr {
	border: 0;
	border-bottom: 1px #fff solid;
	height: 1px;
}
li {list-style-type: none;}
li:before {
	content: '\271E';
	margin-left: -20px;
	margin-right: 5px;
}
ul {margin: 0; padding: 0 0 0 15%;}

/** class **/
.center {text-align: center;}
.container {
	box-sizing: border-box;
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-areas: 
		"left main right_top"
		"left main right_bottom";
	grid-template-columns: 200px auto 200px;
	grid-template-rows: 257px auto;
	justify-items: center;
	height: 100%;
	margin: 0 auto;
	max-height: 800px;
	max-width: 1040px;
	padding: 10px;
	width: 100%;
}
.content {padding: 10px;}
.icon {
	float: left;
	margin: 1em 0.5em 0 0;
}
.mobileonly {display: none;}
.new::after {content:url('index/new.gif');}
.updated::after {content:url('index/updated.gif');}
.section, iframe {
	background: #000;
	box-sizing: border-box;
	border: #008000 4px double;
	overflow-y: auto;
	width: 100%;
}
.side {font: 14px 'Calling Code', 'MS Gothic', monospace;}
.webmaster {
	background: #fff url('index/about/rainbow.gif');
	color: #000;
	font-family: 'Comic Sans MS', sans-serif;
	font-weight: bold;
}

/** id **/
#main {
	grid-area: main;
	max-width: 600px;
	min-width: 300px;
}
#main, #left {height: 100%;}
#left {grid-area: left;}
#right_top {grid-area: 'right_top';}
#right_bottom {grid-area: 'right_bottom';}

/** ant screens **/
@media (max-width: 750px) {
	.container {
		grid-template-areas: "left" "main" "right_top" "right_bottom";
		grid-template-columns: 100%;
		height: auto;
		max-height: none;
		max-width: 100%;
	}
	.mobileonly {display: block;}
	#main {
		width: 100%;
		max-width: 100%;
		min-width: auto;
	}
	#left {
		max-height: 250px;
	}
}