body, html {margin: 0; padding: 0;} 

body {
	background: #000 url('index/bg.png');
	color: #fff;
	font: 16px 'MS Gothic', monospace;
}

a {color: red;}

img {max-width: 100%;}

h1 {
	border: green 4px double;
	color: green;
	font-size: 22px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.container {
	box-sizing: border-box;
	display: grid;
	grid-column-gap: 10px;
	grid-template-areas: "left main right";
	grid-template-columns: 200px auto 200px;
	justify-items: center;
	height: 100%;
	margin: 0 auto;
	max-height: 700px;
	max-width: 1040px;
	padding: 10px;
	width: 100%;
}

.content {
	padding: 10px;
}

.section, iframe {
	background: #000;
	box-sizing: border-box;
	border: green 4px double;
	height: 100%;
	overflow-y: auto;
	width: 100%;
}

#main {
	grid-area: main;
	max-width: 600px;
	min-width: 300px;
}

#left {grid-area: left;}

#right {grid-area: right;}
