/** so I don't have to type these out every time **/
/** general **/
body, html {margin: 0; padding: 0;}
img, iframe {max-width: 100%;}
/** use with div/p **/
.center {text-align: center;}
/** use with span **/
.hover {text-decoration: underline dashed #000;}
.spoiler {
    background: #000;
    border: 1px #fff solid;
    color: #000;
    padding: 1px;
}
.spoiler:hover {color: #fff;}
/** curvy **/
.curved {border-radius: 10px;}