body {
    background: #000 url('bg.png') fixed repeat;
    color: #ffff00;
    font: 16px sans-serif;
}
a {
    color: #ffff00;
    font-weight: bold;
    text-decoration: none;
}
h1 {
    color: #ffff00;
    border: 2px #ffff00 dotted;
    display: inline-block;
    margin: 0;
    padding: 7px;
    text-align: center;
}
img {max-height: 100%; max-width: 100%;}
table {
    background: #731008;
    color: #000;
    margin: 1em auto;
    text-align: center;
    width: 90%;
}
table, tr, td {
    border: 2px #000 solid;
    border-collapse: collapse;
}
td {
    padding: 1em;
    width: 50%;
}
.center {text-align: center;}
.container {
    margin: 10px auto;
    max-width: 1200px;
}