
/** copypasta **/
body, html {margin: 0; padding: 0;}
img {max-width: 100%;}
.center {text-align: center;}
.hover {text-decoration: underline dashed #000;}

/*********************** dnddfhfhhfsdhjlkfshkljfhkjskdl */
body {
	background: #000;
	font: 10pt 'Verdana', sans-serif;
}
a {
	color: blue;
	text-decoration: none;
}
h2, h3 {
	font-size: 10pt;
	font-weight: bold;
}
h3 {
	background: #f0f0f0;
	padding: 5px;
}
hr {border: 1px solid #f3f3f3;}

/*********************** shit */
.container {
    background: #fff;
    border: 4px pink double;
    box-sizing: border-box;
    margin: 1em auto; 
    max-width: 1000px;
    padding: 1em;
}
.content {
    box-sizing: border-box;
    padding: 0.5em;
}
.gallery {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
}
.gallery img {
	flex-grow: 1;
	margin: 1px;
    max-width: 30%;
    object-fit: cover;
    padding: 1px;
    height: 300px;
    width: 300px;
}