/** lazy work today ladz **/
/** general **/
body, html {margin: 0; padding: 0;}
body {
    background: #000 url('bgstars.gif') fixed;
    color: #fff;
}
a {color: pink;}
h1, h2, h3 {
    border: 4px double #fc97d7;
    color: #fc97d7;
    display: inline-block;
    font-family: sans-serif;
    margin: 1px;
}
h1 {
    background: #fff url('bg2.gif');
    padding: 20px;
    text-align: center;
    text-decoration: underline wavy #fc97d7;
}
h2, h3 {
    background: #000;;
    border: 4px double #fc97d7;
    color: #fc97d7;
    display: inline-block;
}
h2 {padding: 5px 25px;}
h3 {padding: 5px 10px;}
img {max-width: 100%;}

/** class **/
.center {text-align: center;}
.container {
    box-sizing: border-box;
    margin: 1em auto;
    max-width: 1200px;
}
.content {
    display: flex;
    flex-wrap: wrap;
}
.header  {
    text-align: center;
}
.header, .section  {
    background: #000 url('bgshooting.gif') top repeat-x;
    border: 4px double #fc97d7;
    padding: 1em;
}
.section {
    box-sizing: border-box;
    flex: 50%;
    height: 500px;
    max-width: 50%;
    overflow: auto;
}
.small img {max-height: 125px;}
.fullwidth {
    flex: 100%;
    max-width: 100%;
}

/** id **/
#adopts {height: 600px;}

/** mobile/small **/
@media (max-width: 800px) {
    .section {
        flex: 100%;
        height: auto !important;
        max-width: 100%;
    }
}