/**
* reag 2019 - 2020
* what up
* people can talk shit about rounded elements being ugly all they want but I love the look
* referenced against friendproject more than myspace iirc
**/

/** import **/
@import url('../../fonts/ibmplexserif/font.css');

/** general **/
body, html {
	margin: 0;
	padding: 0;
}
body {
	background: #000 url('layout/checkmove.gif');
	color: #fff;
}
body, table {font: 14px 'IBM Plex Serif', sans-serif;}
a {color: #3280fb;}
h1, h2, h3, th {
	background: #93abed;
	border-radius: 3px;
	box-sizing: border-box;
	color: #000;
	margin: 0;
	padding: 2px 4px;
}
h1, h2 {
	font-size: 16px;
	width: 100%;
}
h3 {
	display: inline-block;
	font-size: 15px;
	margin: 2px 3px; 
	padding: 2px 4px;
}
img, iframe {max-width: 100%;}
table {width: 100%;}
th {
	text-align: left;
	width: auto;
}

/** class **/
.box {
	background: #000;
	border: #3348a9 4px double;
	border-radius: 7px;
	margin: 10px 0;
	padding: 3px;
}
.center {text-align: center;}
.container, .footer, .header {
	border-left: #3348a9 4px double;
	border-right: #3348a9 4px double;
}
.container {
	background: #000;
	box-sizing: border-box;
	height: 100%;
	margin: 0 auto;
	padding: 0 1em 1em;
	width: 850px;
}
.columns {
	display: grid;
	grid-column-gap: 1em;
	grid-template-columns: 300px auto;
	width: 100%;
}
.footer, .header {
	background: #000;
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0 auto;
	width: 850px;
}
.footer {
	border-top: #3348a9 4px double;
	padding: 10px 30px 10px;
}
.header {
	border-bottom: #3348a9 4px double;
	padding: 0 30px 10px;
}
.header span {
	padding: 0 15px;
}
.header .title {
	color: #fff;
	font-size: 200% ;
	text-align: left;
	text-decoration: none;
}
.profimg {
	float: left;
	padding: 5px 5px 0 0;
}

/** id **/
#contact a {
	font-weight: bold;
	text-decoration: none;
}
#contact a::before {
	content: url('layout/syringe.gif');
	padding: 0 1em 0 0;
}
#interests td, #details td {width: 70%;}
#url span {font: 12px monospace;}

/** ant screens **/
@media (max-width: 800px) {
	.container, .navbar {width: 100%;}
	.columns {grid-template-columns: 100%;}
	.box {margin: 1em 0;}
	.box:first-child {margin: 0 0 1em 0;}
}