/* layout overrides */

/* general */
body, html, .container {height: 100%;}
body {background: #000 url('bg.gif') fixed repeat;}
a {color: #339933;}
h1, h2 {color: #339933;}
h1 {border-color: #005500;}

/* class */
.section {border-color: #005500;}

/* id */
table {
    width: 100%;
}
table, th, td {
    border: #008000 4px double;
    border-collapse: collapse;
}
td {
    max-width: 50%;
    padding: 5px;
}
.archive {text-align: center; width: 100%;}  
.archive a {
    background: none;
    border: none;
    max-width: 40%;
}  
.archive img {
    border: #005500 1px solid; 
    border-radius: 10px;
    margin: 5px;
    object-fit: cover;
    vertical-align: middle;
    margin: 1px; padding: 1px;
    height: 125px;
    width: 125px;
}