<!DOCTYPE html>
<html>
	<head>
		<title>reagnyan</title>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="../img/favicon.gif" type="image/x-icon">
        <link href="style_common.css" rel="stylesheet" type="text/css" media="all">
        <link href="style_shared.css" rel="stylesheet" type="text/css" media="all">
	</head>
	<body>
		<div class="container">
			<div class="section" id="main">
				<div class="content">
                    <!-- funni words here -->