body {
	background: #000;
	color: #fff;
	font: 14px 'MS Gothic', monospace;
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {transition: 0.5s;}

h1 {
	border: green 4px double;
	color: green;
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

img {max-width: 100%;}

li {list-style-type: none;}

li:before {
	content: '\271E';
	margin-left: -20px;
	margin-right: 5px;
}

ul {margin: 0; padding: 0 0 0 15%;}

.center {text-align: center;}

.container {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.navigation a {
	border: green 1px solid;
	box-sizing: border-box;
	display: block;
}

.update {text-align: left;}

@media only screen and (max-width: 200px) {
	.navigation {flex-direction: column;}
	
	.navigation a {
		flex-grow: 1;
		margin: 2px 0;
		padding: 3px;
	}
}

@media only screen and (min-width: 201px) {
	.navigation {flex-direction: row;}
	
	.navigation a {
		flex-grow: 0;
		margin: 2px;
		padding: 3px;
	}
	
	#navimg {display: none;}
}
